.header{
    text-align: center;
    margin:25% 2% 10% 2%;
    font-size: 2rem;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    letter-spacing: 1px;
}


@media only screen and (min-width: 768px) {
    /* HEADER */
.header{
    margin:10% auto 2% auto;
    font-size: 45px;
}

}