@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Tajawal&display=swap');

.container{
    width:60%;
    text-align: center;
    padding:20px;
    display: block;
    margin: 8% auto;
    /* border: 4px outset white; */
    background: rgb(199, 229, 245);
    border-radius: 4px;
}

.result{
  font-family: monospace;
  margin:0;
}

.currency-2{
    margin: 15px;
}

.input-field{
    font-size:12px;
    padding:5px;
}
select{
    height:38px;
    margin-left:10px;
    background:rgb(20, 20, 20);
    color:white;
    text-align: center; 
}

.date{
    font-style: italic;
    color: rgb(150, 141, 141);
    font-weight: bold;
}

.base, .convert-to{
    font-style: italic;
    color: black;
    font-weight: bold;
}

